.repo-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.deployment-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 15px;
}

.deployment{
    border: 0.5px dashed #415254;
    border-radius: 15px;
    padding: 12px;
    margin-top: 20px;
    margin-left: 25px;
    width: 37%;
    max-width: 330px;
    letter-spacing: 0.2px;
}

.deployment-heading{
    margin: 0px;
    font-weight: 500;
}

.deployment-version{
    color: black;
    font-size: small;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deployment-url{
    color: black;
    font-size: 0.8em;
    margin-top: 13px;
    overflow-wrap: break-word;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.deployment-url > a {
    color: blue;
    text-decoration: underline;
}

.deployment-pods{
    color: black;
    font-size: 0.8em;
    margin-top: 13px;
}

.deployment-debug{
    display: flex;
    justify-content: center;
}

.deployment-debug-link{
    padding: 1px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    border: 1px dotted #0000005c;
    border-radius: 5px;
    background: #ffffff9c;
}

.deployment-debug-link-logs{
    margin-left: 5px;
}

.deployment-debug-icon{
    height: 17px;
    width: 17px;
}

.deployment-debug-heading{
    font-size: 0.8em;
    margin: 0px;
    margin-left: 3px;
}

.deployment-up {
    background-image: linear-gradient(150deg, #2fa6b32e, #00986d2b);
}

.deployment-updating {
    background-image: linear-gradient(150deg, #dae80b30, #d2c1162e);
}

.deployment-down {
    background-image: linear-gradient(150deg, #d44c182b, #c11e1e30);

}

.promote {
    color: black;
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.promote-left-icon {
    margin: 0px 20px 0px 0px;
}

.promote-right-icon{
    transform: rotate(270deg);
    margin: 0px 0px 0px 20px;
    height: 20px;
}

.promote-input-box{
    width: 65px;
    text-align: center;
    padding: 7px 5px;
    border: 0.5px solid;
    border-radius: 5px 0px 0px 5px;
    font-size: 0.8em;
    font-weight: 400;
}

.promote-button {
    background-color: #2d8475cc;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.75em;
    border: 0.5px solid black;
    border-left: none;
    padding: 0.5em 1em;
    border-radius: 0px 5px 5px 0px;
}

.promote-button:disabled {
    background-color: #00000061;
    color: #fff;
    font-weight: 500;
    cursor: auto;
    font-size: 0.75em;
    border: 0.5px solid black;
    border-left: none;
    padding: 0.5em 1em;
    border-radius: 0px 5px 5px 0px;
}

.version-arrow-icon {
    height: 13px;
    width: 13px;
    margin: 0px 5px;
}

.import-loading-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.import-throbber {
    width: 40px;
    height: 40px;
    margin: 8px 0;
}

.import-loading-text {
    margin-left: 15px;
    align-self: center;
}

.import-failed-main{
    margin-top: 33vh;
}

.import-failed-image{
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.import-failed-text{
    padding: 25px 0px 15px 0px;
    font-weight: 600;
    font-size: 1.8em;
}

.import-failed-reason{
    color: black;
}

.codefix-issues-main{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    padding: 40px 0px;
    flex-wrap: wrap;
    background: #0000000a;
}

.codefix-issues-image{
    width: 350px;
    align-self: center;
    padding: 10px;
}

.codefix-issues-content{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 50px;
    margin-top: 10px;
}

.codefix-issues-date{
    color: #464646c2;
    font-weight: 500;
    font-size: 0.9em;
    margin: 0px;
}

.codefix-issues-title{
    font-weight: 600;
    font-size: 1.4em;
    margin: 0px;
    color: #00008bc4;
}

.codefix-issues-issue-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.codefix-issues-table-value{
    padding: 8px;
    border: 1px solid #00000045;
    font-size: 0.9em;
}

.codefix-issues-table-header{
    padding: 10px;
    border: 1px solid #00000045;
    font-size: 0.95em;
    font-weight: 500;
}
